<select class='new-sen-select form-control m-bot15' id='new-sen-agency' name='sen_agency'>
    <option value=''> - Seleccione una agencia - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>