{{!--responsive--}}
<div class='row'>
    <div class='col-lg-12'>
        <section class='panel'>
            <header class='panel-heading'>
                {{!--
                <span class='tools pull-right'>
                    <a href='javascript:;' class='fa fa-chevron-down'></a>
                </span>
                --}}
                <h1>
                    Listado de Seminuevos
                </h1>
            </header>
            {{!--<div class='panel-body'></div>--}}
        </section>

    </div>
</div>

<div id='div-get-sen-filters'></div>
<div id='div-get-sen-table'></div>